/* 
  Josh Comeau's CSS reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 
  Colour variables from Cambridge Arts Festival logo
*/
:root {
  --colour-deep-purple: #443A47;
  --colour-mint-green: #5CC098;
  --colour-sky-blue: #86BFD9;
  --colour-magenta: #CC69A9;
  --colour-red: #E23E39;
  --colour-golden-yellow: #E6AB46;
  --colour-cream: #E8E1C9;
}

/* 
  Typography
*/

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--colour-cream);
}

/* 
  Base styles
*/

body {
  background-color: var(--colour-deep-purple);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

nav.bottom-nav {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: var(--colour-deep-purple);

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--colour-cream);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      /* color: var(--colour-mint-green); */
    }

    .nav-icon {
      width: 3rem;
      height: 3rem;
    }
  }
}

.magenta-text {
  color: var(--colour-magenta);
}

.mint-green-text {
  color: var(--colour-mint-green);
}

.golden-yellow-text {
  color: var(--colour-golden-yellow);
}

.red-text {
  color: var(--colour-red);
}

/* Home page */

#splash {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 2rem;
  text-align: center;
  background-color: var(--colour-deep-purple);

  /* Fade animation */
  animation: fade-out 1s 2s forwards;

  div.splash-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      color: ghostwhite;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

body.home-page {
  margin-bottom: 10rem;
}

header.home-page-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  text-align: center;

  hgroup {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--colour-golden-yellow);
    }

    p {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--colour-mint-green);
    }
  }
}

p.home-page-augmented-arches-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}


/* About page */

header.about-page-header {
  visibility: hidden;
  height: 0;

  /* The 5% tinnies made me do it... */
  >* {
    height: 0;
  }
}

body.about-page {
  gap: 0;
  background-color: var(--colour-cream);
  color: var(--colour-magenta);
  margin-bottom: 10rem;

  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

section.about-page-from-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin-bottom: 0;
  }

  img {
    max-width: 200px;
    margin: 0 auto;
  }
}

section.about-page-using-section {
  max-width: 100%;

  h2 {
    margin-bottom: 0;
  }

  div.about-page-using-section__image-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {}
  }
}


/* Map page */

header.map-page-header {
  h1 {
    visibility: hidden;
  }
}

section.map-page-main-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Need the map image to be full-screen, with red text below. */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}


/* Locations page */

body.locations-page {

  padding-top: 0;

  h1 {
    font-size: 1.5rem;
  }

  nav.locations-page-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--colour-cream);
      font-weight: 700;
      text-decoration: none;

      &:hover {
        /* color: var(--colour-magenta); */
      }

      .nav-icon {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}